* {
    margin: 0;
    padding: 0;
    font-family: "oswald", sans-serif;
}

.main {
    position: relative;
}
#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    text-decoration: none;
    background: linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 0)), url(image/Amazon-large-rendered-small.png);
    color: rgb(35, 35, 35);
}
.contact-footer {
    position: absolute;
    left: 20%;
    margin: 0 0 0 1rem;

}
 
.footertitle {
    text-align: center;
}

li {
    list-style-type: none;
}
.logo{
    position: relative;
    text-align: center;
    bottom: 50px;
}

.media {
    position: absolute;
    right: 125px;
    top: 55px;
}

img {
    width: 40px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.mediaimage:hover {
    scale: 1.25;
}

#leaf {
    width: 5%;
    position: absolute;
    left: 48%;
    bottom: -150px;
}

