.main {
    margin-top: 20px;
    position: relative;
    height: 200px;
    width: 100%;
    background-color: rgb(15, 15,15);
    overflow: hidden;
}

.main ul {
    list-style-type: none;
}

.contact-footer {
    position: absolute;
    top: 50px;
    left: 50px; 
    color: white;
}

.contact-footer ul {
    font-weight: 500;
}

.logo {
    position: absolute;
    left: 50%;
    top: 70px;
}

#leaf {
    width: 10%;
}

.media {
    position: absolute;
    right: 100px;
    top: 25px;
}

.media img:hover {
    scale: 1.25;
}

.logo :hover {
    scale: 1.25;
}


img {
    width: 40px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}