.container{
    position: relative;
    width: 90%;
    margin-left: 5%;

    gap: 50px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#flex-img{
    width: 20%;
    object-fit: cover;
    border-radius: 1vw;
}

@media only screen and (max-width: 1000px){
    #flex-img{
        display: none;
    }
}