.contact-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.contact-info-wrapper p {
    font-size: 18px;
}

.contact-email-phone-wrapper {
    margin-bottom: 20px;
}

#contact-submit-button {
    background-color: #156102;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border: none;
    box-shadow: 0px 1px 3px 0px grey;
}

#contact-submit-button:hover{
    cursor: pointer;
    background-color: #104A02;
    transition: 0.3s ease;
    padding: 5px 20px 5px 20px;
    animation-duration: 0.3s;
}

#contact-submit-button:active {
    transform: translate(1px,1px);
}

.conatct-message-wrapper textarea {
    margin-top: 10px;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.7);
    outline: none;
    max-width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px){
    .contact-info-wrapper {
        margin-top: 20px;
    }

    .conatct-message-wrapper textarea {
        width: 300px;

}
