#contact-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 5%;
}

#contact-info-wrapper p { font-size: 18px; }

#contact-email-phone-wrapper { margin-bottom: 20px; }

#contact-submit-button {
    position: relative;
    margin-bottom: 0;

    padding: 10px 3vw;

    background-color: var(--green);
    border: 0px solid;
    border-color: #195536;
    border-radius: 0.5vw;
    border-bottom-width: 0.25vw;
    
    color: white;
    font-weight: bold;
    font-size: 1vw;
    transition-duration: 0.2s;
}

#contact-submit-button:hover{
    color: white;
    padding: 10px 5vw;
}

#contact-submit-button:active {
    border-bottom-width: 0px;
    margin-top: 0.25vw;
}

#contact-message-wrapper textarea {
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.7);
    outline: none;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px){
    #contact-info-wrapper {
        margin-top: 20px;
    }

    #contact-message-wrapper textarea {
        width: 300px;
    }
}