.donate-main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* height: 100vh; */
    align-items: center;
}

.donate-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    border-radius: 17px;
    box-shadow: -3px 9px 50px -6px rgba(0,0,0,0.7);
    padding: 20px 0 40px 0;
    flex-direction: column;
    margin-bottom: 5%;
}

.donate-text-wrapper {
    height: 20%;
    padding: 20px 60px 50px 60px;
    font-size: 18px;
}

.donate-input-wrapper {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-input-wrapper input, .donate-input-wrapper select {
    width: 180px;
    font-size: 15px;
    padding: 5px;
    outline: none;
    border: none;
    margin-top: 5px;
}

.donate-input-wrapper input{
    border-bottom: 1px solid rgba(16, 74, 2, 0.5);
    transition: border-bottom 0.1s;
}

.donate-input-wrapper input:focus{
    border-bottom: 1.3px solid rgba(16, 74, 2, 1);

}

.donate-form-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.donate-form-wrapper div{
    width: 100%;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#donate-form-heading{
    font-size: 18px;
    font-weight: 200;
}

.donate-amount-buttons button {
    background-color: #156102;
    padding: 5px 15px 5px 15px;
    margin: 0 2% 0 2%;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    border: none;
    box-shadow: 0px 1px 3px 0px grey;
}

.donate-amount-buttons button:hover{
    cursor: pointer;
    background-color: #104A02;
    transition: 0.15s ease;
}

.donate-input-label-wrapper {
    display: flex;
    padding-top: 20px;
    margin-left: 50px;
}

.donate-input-label-wrapper div {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.donate-button-wrapper {
    display: flex;
    align-items: center;
    height: 25%;
}

.donate-button-wrapper button {
    font-size: 22px;
    background-color: #156102;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 0px 2px 5px 0px grey;
    margin-top: 20px;
}

.donate-button-wrapper button:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #104A02;
    animation-duration: 0.3s;
    padding: 5px 20px 5px 20px;
}

.donate-button-wrapper button:active, .donate-amount-buttons button:active {
    transform: translate(1px,1px);
}


@media screen and (max-width: 950px){
    .donate-box-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .donate-amount-buttons button, #donate-form-heading {
        display: none;
    }

    .donate-input-label-wrapper {
        flex-direction: column;
    }
}