/* same for all rainforest pages */
body {
    background-color: #B7D1DA ;
    line-height: 1.5;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

/* amazon page  */
.amazon-info {
    display: grid;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}
#amzon-map {
    position: relative;
}
#amazon-map-text { /* image text */
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

#amazon-map img {
    width: 70%;
    height: 400px;
    border: 5px solid black;
}
 
.our-work-amazon {
    display: grid;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;

}

#amazon-people {
    position: relative;
}

#amazon-people-text {
    position: absolute;
    bottom: -10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

#amazon-people img {
    width: 70%;
    height: 400px;
    border: 5px solid black;
}

.amazon-image {
    display: grid;
    justify-content: center;
    align-items: right;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    float: right;
}

.amazon-image img {
    width: 100%;
    height: 400px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#amazon-image-text  {
    position: absolute;
    bottom: -1440px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}

/* congo page */

.congo-info {
    display: grid;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#congo-map {
    position: relative;
}

#congo-map-text {
    position: absolute;
    bottom: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    margin-left: 80px;
}

#congo-map img {
    width: 70%;
    height: 400px;
    border: 5px solid black;
}

.our-work-congo {
    display: grid;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#congo-people {
    position: relative;
}

#congo-people-text {
    position: absolute;
    bottom: -10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

#congo-people img {
    width: 70%;
    height: 400px;
    border: 5px solid black;
}

.congo-image {
    display: grid;
    justify-content: center;
    align-items: right;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    float: right;
}

.congo-image img {
    width: 100%;
    height: 400px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#congo-image-text  {
    position: absolute;
    bottom: -1500px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}

/* Indonesia page */

.indonesia-info {
    display: grid;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#indonesia-map {
    position: relative;
}

#indonesia-map-text {
    position: absolute;
    bottom: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    margin-left: 80px;
}

#indonesia-map img {
    width: 70%;
    height: 400px;
    border: 5px solid black;
}

.our-work-indonesia {
    display: grid;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#indonesia-people {
    position: relative;
}

#indonesia-people-text {
    position: absolute;
    bottom: -10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

#indonesia-people img {
    width: 70%;
    height: 400px;
    border: 5px solid black;
}

.indonesia-image {
    display: grid;
    justify-content: center;
    align-items: right;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    float: right;
}

.indonesia-image img {
    width: 100%;
    height: 400px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#indonesia-image-text  {
    position: absolute;
    bottom: -1500px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}

/* xishuangbanna page */

.xishuangbanna-info {
    display: grid;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#xishuangbanna-map {
    position: relative;
}

#xishuangbanna-map-text {
    position: absolute;
    bottom: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    margin-left: 80px;
}

#xishuangbanna-map img {
    width: 70%;
    height: 400px;
    border: 5px solid black;
}

.our-work-xishuangbanna {
    display: grid;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#xishuangbanna-people {
    position: relative;
}

#xishuangbanna-people-text {
    position: absolute;
    bottom: -10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

#xishuangbanna-people img {
    width: 70%;
    height: 400px;
    border: 5px solid black;
}

.xishuangbanna-image {
    display: grid;
    justify-content: center;
    align-items: right;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    float: right;
}

.xishuangbanna-image img {
    width: 100%;
    height: 400px;
    border: 10px ridge rgba(19,74,111,0.33);
    border-radius: 17px;
}

#xishuangbanna-image-text  {
    position: absolute;
    bottom: -1500px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}





