/* same for all rainforest pages */
html {
    scroll-behavior: smooth;
}
body {
    line-height: 1.5;
}

h1 {
    position: relative;
    top: -50px;
}

h2 {
    text-align: center;
}
h4 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* div for all images inside the rainforest pages and the image text */
.image {
    width: 100%;
    margin: 0 auto;

}

/* styles all images inside the rainforest pages */
.image img {
    width: 100%;
    height: 100%;
    border-radius: 17px;
    object-fit: cover;
}

#map-text {
    display: inline-block;
    position: relative;
    bottom: 2px;
    padding-left: 20px;
    word-wrap: break-word;
}

#people-text {
    display: inline-block;
    position: relative;
    bottom: -20px;
    padding-left: 20px;
    word-wrap: break-word;
}

#image-text {
    display: inline-block;
    position: relative;
    top: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    white-space: normal;
}

/* grid container for all divs */
.forest-container { /* https://cssgrid-generator.netlify.app/  generator which generates columns and rows for display:grid*/
    width: 100%;
    margin: 0 auto;
}
/* centers all image texts */
.center-text {
    left: 50%;
    translate: -50%;
}
/* info div for all forest pages */
.info {
    box-shadow: -3px 9px 50px -6px rgba(0,0,0,0.7);
    border-radius: 17px;
    padding: 20px;
    padding-bottom: 50px;
    margin-left: 50%;
    translate: -50%;
    width: 50%;
}

/* our-work div for all forest pages */
.our-work {
    box-shadow: -3px 9px 50px -6px rgba(0,0,0,0.7);
    border-radius: 17px;
    padding: 20px;
    padding-bottom: 50px;
    margin-left: 50%;
    translate: -50%;
    width: 50%;
}


/* image div for all forest pages */
.image-container {
    box-shadow: -3px 9px 50px -6px rgba(0,0,0,0.7);
    border-radius: 17px;
    align-items: right;
    height: 60%;
    padding: 20px;
    padding-bottom: 35px;
    margin-left: 50%;
    translate: -50%;
    width: 50%;
}



/* media queries */

@media only screen and (max-width: 768px) {
    .forest-container {
        width: 100%;
        grid-template-columns:  1fr;
    }
     .info {
        box-shadow: none;
    }
    .our-work {
        box-shadow: none;
    }

    .image-container {
        box-shadow: none;
    } 

    img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    
    }
    #forest-raised-counter {
        top: 0px;
    }
  
    
} 



