nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 75px;
    
    z-index: 15;
    background-color: var(--gray);

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-start;
}


.nav-wave{
    position: absolute;
    width: 100%;
    height: 100%;

    transform-origin: bottom;
    transform: translateY(100%);

    background-color: inherit;
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
}

nav a {
    padding: 0 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    color: white;

    padding-bottom: 10px;

    letter-spacing: 1px;
    transition: color border;
    transition-duration: 0.1s;
}

nav a:hover {
    color:var(--green);
}

/* Dansemoves fra Mikkes klubbhus */

#donate-button {
    position: absolute;
    /* height: 100%; */
    right: 25px;
    bottom: -5px;

    padding: 10px 3vw;

    background-color: var(--green);
    border: 0px solid;
    border-color: #195536;
    border-radius: 0.5vw;
    border-bottom-width: 0.25vw;
}


#donate-button:hover {
    color: white;
    border-bottom-width: 0px;
}

#map-container {
    margin-top: 100px;
    position: relative;
    background-size: cover;
    background-image: url(../image/amazon-large.webp);
    background-position: bottom;

    width: 100%;
}

.green-tint {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 147, 88, 0.85);
}

#map {
    margin-bottom: -5px;
    width: 100%;
    /* filter: drop-shadow(0 3px 0px var(--gray)); */
}

.point {
    width: 50px;
    height: 50px;

    position: absolute;
    display: flex;

    translate: -50% -50%;

    transition-duration: 0.2s;
}

.point > div {
    flex-grow: 1;
    flex-shrink: 1;

    rotate: 45deg;

    border-radius: 10px;
    border: 5px solid var(--gray);
    padding: 2px;

    transition-duration: inherit;
    scale: 0.4;
    display: flex;
}

.point > div > div {
    scale: 0.75;

    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 10px;

    background-color: var(--gray);

    transition-duration: inherit;
}

.point:hover {
    padding: 0;
    cursor: pointer;
}

.point:hover div {
    /*90 + 45*/
    rotate: 135deg;

    border-color: red;
    scale: 0.6;
}

.point:hover > div > div {
    rotate: -135deg;
    background-color: red;
}

#page {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;

    z-index: 10;
}

#cards {
    position: relative;
    padding: 5vw 0vw;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.card {
    margin: 1vw;
    border-radius: 1vw;

    width: 40vw;
    flex-grow: 1;
    aspect-ratio: 2 / 0.75;
    background-color: white;

    background-size: cover;
    backdrop-filter: blur(2px);

    overflow: hidden;
}

.card-tint {
    width: 100%;
    height: 100%;

    padding: 2vw;

    background-color: rgba(83, 147, 88, 0.5);
    transition-duration: 0.2s;
}

.card:hover .card-tint {
    background-color: rgba(83, 147, 88, 0.25);
}

.card-content {
    width: 43vw;
    height: 45%;

    bottom: -20%;

    position: absolute;

    color: white;
    text-decoration: none;

    transition-duration: 0.2s;
}

.card:hover .card-content {
    bottom: 10%;
}

.card h2 {
    height: 5%;
    font-size: 2.5vw;
    letter-spacing: 4px;
}

.card p {
    margin-top: 10%;
    height: 25%;
    font-size: 1.5vw;
}

.card h2, .card p {
    text-shadow: 0 0px 5px black;
}

#amazon-card {
    background-image: url(../image/amazon.jpg);
    background-position: bottom;
}

#congo-card {
    background-image: url(../image/congo.jpeg);
    background-position: bottom;
}

#xishuangbanna-card{
    background-image: url(../image/xishuangbanna.jpg);
}

#sumatra-card {
    background-image: url(../image/sumatra.jpg);
}

/* footer {
    background-color: var(--gray);
    height: 100px;
} */

@media only screen and (max-width: 800px){
    nav {
        height: 75px;
    }
}

@media only screen and (max-width: 1000px){
    nav a {
        font-size: 3vw;
        padding-left: 5vw;
    }

    #donate-button {
        top: auto;
        bottom: -5px;
        right: 30px;
        border-bottom-width: 0.5vw;
        border-radius: 1vw;
    }

    #map-container {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 1000px){
    .card {
        width: 90vw;
    }

    .card-content {
        bottom: -25%;
    }

    .card:hover .card-content {
        bottom: -5%;
    }

    .card h2 {
        font-size: 4vw;
    }

    .card p {
        width: 55vw;
        margin-top: 15%;
        font-size: 2vw;
    }
}