body {
    background-color: #B7D1DA;
}




#container {
    background-color: blue;
    height: 300px;
    overflow: hidden;
    
}

#banner1 {
   width: 100%;
    translate: 0 -10%;
   align-items: center;
    object-fit: cover;


    
}

#information-box {
    position: relative;
    margin-left: 10%;
    margin-top: 100px;
    width: 35%;
    font-size: 18px;
    float: left;
}

#man-in-forest {
    width: 500px;
    display: inline-block;
    position: relative
    float: right;
    margin: 100px 0 0 150px !important;
    border-radius: 10px
  


  
    
}


