body {

}




#container {

 
    height: 300px;
    width: 100%;
    overflow: hidden;
    
}

#banner1 {
   width: 100%;
   height: 100%;
    translate: 0 -10%;
   align-items: center;
    object-fit: cover;
    position: relative;


    
}

#information-box {
    position: relative;
    margin-left: 10%;
    margin-top:50px;
    width: 35%;
    font-size: 18px;
    float: left;
}

#slide {

    max-width: 32%;
    height: auto;
    display: inline-block;
    position: relative;
    margin: 75px 0 0 200px !important;
    border-radius: 10px
   
  


  
    
}


