
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

/* position and style the navbar */
.navbar {
    width: 80%;
    margin: 0 auto;

}


header {
    background: #615B5B;
}

header::after {
    content: "";
    display: table;
    clear: both;
}


.logo {
    float: left;
    padding: 10px 0;

}


nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}


nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative; /* makes nav a:before position relative to li */ 
}

nav a {
    color: #A49F9F;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #fff;
    
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    
    background-color: #A49F9F;
    position: absolute; /* position the before element, absolute to nav li */
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms; /* transition effect on hover */
}

nav a:hover::before { /* when hovering over a, the before element will animate to 100% width */
    width: 100%;
}

nav a::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #A49F9F;
    position: absolute; /* position the after element, absolute to nav li */
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms; /* transition effect on hover */
    
}
img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    
}

img:hover {
    box-shadow: #d3cfcf 0px 0px 10px;

}